 <div class="containerToolbar">
    <div>
        <span>
            <h3>Classi</h3>
        </span>
        <div class="row">
            <span data-toggle="tooltip" title="Aggiungi classe">
                <button (click)="aggiungiClass()">
                    <span class="aggiungiClass"></span>
                </button>
            </span>
            <span data-toggle="tooltip" title="Aggiungi interfaccia">
                <button (click)="aggiungiInterface()">
                    <span class="aggiungiInterface"></span>
                </button>
            </span>
        </div>
        <div class="row">
            <span data-toggle="tooltip" title="Aggiungi classe astratta">
                <button (click)="aggiungiAbstract()">
                    <span class="aggiungiAbstract"></span>
                </button>
            </span>
        </div>
        <div class="row">
            <h3>Connettori</h3>
        </div>
        <div class="row">
            <span data-toggle="tooltip" title="Aggiungi aggregazione">
                <button (click)="aggiungiAggregation()">
                    <span class="aggiungiAggregation"></span>
                </button>
            </span>
            <span data-toggle="tooltip" title="Aggiungi associazione">
                <button (click)="aggiungiAssociation()">
                    <span class="aggiungiAssociation"></span>
                </button>
            </span>
        </div>
        <div class="row">
            <span data-toggle="tooltip" title="Aggiungi composizione">
                <button (click)="aggiungiComposition()">
                    <span class="aggiungiComposition"></span>
                </button>
            </span>
            <span data-toggle="tooltip" title="Aggiungi dipendenza">
                <button (click)="aggiungiDependency()">
                    <span class="aggiungiDependency"></span>
                </button>
            </span>
        </div>
        <div class="row">
            <span data-toggle="tooltip" title="Aggiungi generalizzazione">
                <button (click)="aggiungiGeneralization()">
                    <span class="aggiungiGeneralization"></span>
                </button>
            </span>
        </div>
    </div>
</div>
