<div class="container-fluid toolbar">
  <div class="row tipo"> Classi </div>
  <div class="row">
    <button (click)="addClasse()" class="add addClasse" title="Aggiungi classe"></button>
    <button (click)="addInterfaccia()" class="add addInterfaccia" title="Aggiungi interfaccia"></button>
    <button (click)="addAstratta()" class="add addAstratta" title="Aggiungi classe astratta"></button>
  </div>
  <div class="row tipo"> Connettori </div>
  <div class="row">
    <button (click)="addImplementazione()" class="add addImplementazione" title="Aggiungi implementazione"></button>
    <button (click)="addGeneralizzazione()" class="add addGeneralizzazione" title="Aggiungi generalizzazione"></button>
  </div>
  <div class="row tipo"> Cmmenti </div>
  <div class="row">
    <button (click)="addCommento()" class="add addCommento" title="Agiungi commento"></button>
    <button (click)="addAssociazione()" class="add addAssociazione" title="Aggiungi associazione"></button>
  </div>

</div>
