.toolbar {
  height: 100%;
  background-color: #F1EDEA;
  overflow: hidden;
}

.tipo {
  text-align: center;
  font-weight: bold;
}

.add {
  cursor: pointer;
  height: 50px;
  width: 50px;
  outline:none;
  transform: translate(50%, 0);
}

.add:hover {
  opacity: 0.4;
}

.aggiungiClass {
    background: url(imgs/Classi/Class.svg) no-repeat top left;
    background-size: contain;
}

.aggiungiInterface {
    background: url(imgs/Classi/Interface.svg) no-repeat top left;
    background-size: contain;
}

.aggiungiAbstract {
    background: url(imgs/Classi/Abstract.svg) no-repeat top left;
    background-size: contain;
}

.aggiungiAggregation {
    background: url(imgs/Connettori/Aggregation.svg) no-repeat top left;
    background-size: contain;
}

.aggiungiAssociation {
    background: url(imgs/Connettori/Association.svg) no-repeat top left;
    background-size: contain;
}

.aggiungiComposition {
    background: url(imgs/Connettori/Composition.svg) no-repeat top left;
    background-size: contain;
}

.aggiungiDependency {
    background: url(imgs/Connettori/Dependency.svg) no-repeat top left;
    background-size: contain;
}

.aggiungiGeneralization {
    background: url(imgs/Connettori/Generalization.svg) no-repeat top left;
    background-size: contain;
}
