@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.saveState:hover {
  /*background-color: #673ab7;*/
  cursor:pointer;
  display: inline-block;
}

.chiave {
  text-align: center;
}

.inLinea {
  display: inline-flex;
}

#lista-tipi {
  padding-left: 1em;
}

div {
  background-color: #03A9F4;
}
