<div class="container-fluid menu">

  <div class="row selezionato">
    <span class="glyphicon glyphicon-wrench iconaMirrow" aria-hidden="true"></span> {{name}}
  </div>
  <div class="row changeNome">
    Modifica nome:
    <input #changeName id="changeName"
      (keyup.enter)="changeNome(changeName.value)">
    <button class="btn btn-default" (click)="changeNome(changeName.value)">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
  </div>

  <div class="aggiungiAttributo">
    <!-- <span [hidden]="!nomeAttributoUguale">Il nome inserito per l'attributo è già esistente <br /></span> -->
    <div class="row">
      Aggiungi Attributo
    </div>
    <div class="campiAttributo">
      <div class="aggiungiAttributo .selezionaTipo">
      <label>Seleziona tipo</label>
      <select #tipi [(ngModel)]="selectedTipo">
      <option value=""></option>
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="aggiungiAttributo nomeAttr">
      <label>Nome</label>
      <input [disabled]="!tipi.value" id="nome-attributo" #attAdder
        (keyup.enter)="addAttributo(attAdder.value, tipi.value)">
    </div>
    <div class="aggiungiAttributo accessoAttr">
      <label>Seleziona Visibilità</label>
      <select  [(ngModel)]="selectedAcc">
       <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
      </select>
    </div>
      <button class="btn btn-default" [disabled]="!tipi.value " (click)="addAttributo(attAdder.value, tipi.value)">Aggiungi Attributo</button>
    </div>

  </div>
  <button href="#listaAttr" class="btn btn-default" data-toggle="collapse">Lista Attributi</button>
  <div class="container listaAttributi">

  <div id="listaAttr" class="row collapse" *ngIf="name">
    <h5>Lista Attributi</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let attr of this.mainEditorService.selectedClasse.getAttributi()">
        <span>{{attr.name}}: {{attr.type}}
          <button class="btn btn-default" (click)="removeAttributo(attr.name)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Rimuovi"></span>
          </button>
          <button class="btn btn-default" (click)="modAttribute(attr.name)" title="Modifica">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Rimuovi"></span>
          </button>
        </span>
      </li>
    </ul>
  </div>
  </div>
</div>
