<div class="container-fluid">

  <div class="row selezionato">
    <h3>Selezionato: {{name}}</h3>
  </div>
  <div class="row changeNome">
    <input #changeName
      (keyup.enter)="changeNome(changeName.value)">
    <button (click)="changeNome(changeName.value)">Cambia Nome</button>
  </div>

  <div class="aggiungiAttributo">
    <!-- <span [hidden]="!nomeAttributoUguale">Il nome inserito per l'attributo è già esistente <br /></span> -->
    <div class="aggiungiAttributo .selezionaTipo">
      <label>Seleziona tipo</label>
      <select #tipi [(ngModel)]="selectedTipo">
      <option value=""></option>
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="aggiungiAttributo nomeAttr">
      <label>Nome</label>
      <input [disabled]="!tipi.value" id="nome-attributo" #attAdder
        (keyup.enter)="addAttributo(attAdder.value, tipi.value)">
    </div>
    <div class="aggiungiAttributo accessoAttr">
      <label>Seleziona Visibilità</label>
      <select  [(ngModel)]="selectedAcc">
       <option *ngFor="let acc of accessoAttr" [value]="acc">{{ acc }}</option>
      </select>
    </div>
      <button [disabled]="!tipi.value " (click)="addAttributo(attAdder.value, tipi.value)">Aggiungi Attributo</button>
  </div>

  <div *ngIf="name">
    <h4>Lista Attributi</h4>
    <ul>
      <li *ngFor="let attr of this.mainEditorService.selectedClasse.getAttributi()">
        <span>{{attr.name}}: {{attr.type}}
          <button (click)="removeAttributo(attr.name)">Rimuovi</button>
          <button (click)="modAttribute(attr.name)">Modifica</button>
        </span>
      </li>
    </ul>
  </div>
