<div>
    <md-toolbar color="primary">
        <span>
            <h3>Classi</h3>
        </span>
        <md-toolbar-row>
            <span mdTooltip="Aggiungi classe">
                <button md-button (click)="aggiungiClass()">
                    <span class="aggiungiClass"></span>
                </button>
            </span>
            <span mdTooltip="Aggiungi interfaccia">
                <button md-button (click)="aggiungiInterface()">
                    <span class="aggiungiInterface"></span>
                </button>
            </span>
        </md-toolbar-row>
        <md-toolbar-row>
            <span mdTooltip="Aggiungi classe astratta">
                <button md-button (click)="aggiungiAbstract()">
                    <span class="aggiungiAbstract"></span>
                </button>
            </span>
        </md-toolbar-row>
        <md-toolbar-row>
            <h3>Connettori</h3>
        </md-toolbar-row>
        <md-toolbar-row>
            <span mdTooltip="Aggiungi aggregazione">
                <button md-button (click)="aggiungiAggregation()">
                    <span class="aggiungiAggregation"></span>
                </button>
            </span>
            <span mdTooltip="Aggiungi associazione">
                <button md-button (click)="aggiungiAssociation()">
                    <span class="aggiungiAssociation"></span>
                </button>
            </span>
        </md-toolbar-row>
        <md-toolbar-row>
            <span mdTooltip="Aggiungi composizione">
                <button md-button (click)="aggiungiComposition()">
                    <span class="aggiungiComposition"></span>
                </button>
            </span>
            <span mdTooltip="Aggiungi dipendenza">
                <button md-button (click)="aggiungiDependency()">
                    <span class="aggiungiDependency"></span>
                </button>
            </span>
        </md-toolbar-row>
        <md-toolbar-row>
            <span mdTooltip="Aggiungi generalizzazione">
                <button md-button (click)="aggiungiGeneralization()">
                    <span class="aggiungiGeneralization"></span>
                </button>
            </span>
        </md-toolbar-row>
    </md-toolbar>
</div>