<div class="row barra-menu">
  <div class="menu btn">  <app-file></app-file>  </div>
  <div class="menu btn">  <app-progetto></app-progetto>  </div>
  <div class="menu btn">  <app-modifica></app-modifica>  </div>
  <div class="menu btn">  <app-template></app-template>  </div>
  <div class="menu btn">  <app-layer></app-layer>  </div>
  <div class="menu btn">  <app-profilo></app-profilo>  </div>

  <div class="logo">
    <img src="assets/images/logo.jpg" alt="logo">
    SWEDesigner
  </div>
</div>
